/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font: 400 16px "Raleway", sans-serif;
  font-style: normal;
  background-color: #242b33;
  color: #fff;
  width: 1920px;
  margin: 0 auto;
}

a {
  color: #fff;
}
a:hover {
  transition: 1s;
  color: #d4c17f;
}

header {
  position: relative;
}
header .header__bg-img {
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url(../img/header/header-img.jpg), no-repeat;
  background-size: cover;
  height: 840px;
  width: 1920px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
header .header {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .header .header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
header .header .header__top .header__logo {
  background: no-repeat url(../img/main-logo.svg);
  background-size: cover;
  width: 134px;
  height: 66px;
}
header .header .header__top nav {
  font: 400 14px "Raleway", sans-serif;
  display: flex;
  gap: 40px;
}
header .header .header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
  padding-top: 200px;
  width: 582px;
}
header .header .header__title h1 {
  font: 700 48px "Playfair Display", serif;
  line-height: 64px;
  color: #d4c17f;
}
header .header .header__title .header__title-mouse {
  background: url(../img/header/mouse-icon.svg) no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-top: 80px;
}
header .header .header__title .header__title-contacts {
  display: flex;
  align-self: flex-start;
  gap: 98px;
  padding-top: 200px;
}
header .header .header__title .header__title-contacts .header__title-adress {
  display: flex;
  align-items: center;
  gap: 14px;
  font: 400 18px "Raleway", sans-serif;
}
header .header .header__title .header__title-contacts .header__title-adress .header__title-geo {
  background: url(../img/header/geolocation-icon.svg) no-repeat;
  background-size: cover;
  width: 21px;
  height: 21px;
}
header .header .header__title .header__title-contacts .header__title-phone {
  display: flex;
  align-items: center;
  gap: 14px;
  font: 400 18px "Raleway", sans-serif;
}
header .header .header__title .header__title-contacts .header__title-phone .header__title-phone-img {
  background: url(../img/header/phone-call-icon.svg) no-repeat;
  background-size: cover;
  width: 21px;
  height: 21px;
}
header .header .header__footer {
  padding-top: 195px;
  max-width: 794px;
  display: flex;
  align-self: center;
  text-align: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
header .header .header__footer .header__footer-advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header .header__footer .header__footer-advantages p {
  font: 20px 300 "Roboto", sans-serif;
  line-height: 27px;
  padding-top: 53px;
}
header .header .header__footer .header__footer-img1 {
  background: url(../img/header/bench.svg) no-repeat;
  width: 80px;
  height: 80px;
}
header .header .header__footer .header__footer-img2 {
  background: url(../img/header/building.svg) no-repeat;
  width: 80px;
  height: 80px;
}
header .header .header__footer .header__footer-img3 {
  background: url(../img/header/fountain.svg) no-repeat;
  width: 80px;
  height: 80px;
}
header .header .header__footer .header__footer-img4 {
  background: url(../img/header/bicycle.svg) no-repeat;
  width: 80px;
  height: 80px;
}

main {
  display: flex;
  justify-content: center;
}

.apartments {
  display: flex;
  flex-wrap: wrap;
  max-width: 1111px;
  padding-top: 256px;
  gap: 31px;
  position: relative;
}
.apartments h2 {
  font: 700 36px "Playfair Display", serif;
  color: #d4c17f;
  position: absolute;
  top: 120px;
  left: 0;
}
.apartments .apartments__item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.apartments .apartments__item p {
  font: 400 24px "Raleway", sans-serif;
  position: absolute;
  top: 248px;
  left: 50px;
}
.apartments .apartments__item-img1 {
  background: url(../../img/apartments/loft-olimp-img.png) no-repeat;
  background-size: cover;
  width: 540px;
  height: 320px;
}
.apartments .apartments__item-img2 {
  background: url(../../img/apartments/loft-nice-img.png) no-repeat;
  background-size: cover;
  width: 540px;
  height: 320px;
}
.apartments .apartments__item-img3 {
  background: url(../../img/apartments/loft-studio-img.png) no-repeat;
  background-size: cover;
  width: 540px;
  height: 320px;
}
.apartments .apartments__item-img4 {
  background: url(../../img/apartments/loft-prestige.png) no-repeat;
  background-size: cover;
  width: 540px;
  height: 320px;
}/*# sourceMappingURL=main.css.map */