header {
  background: linear-gradient(
      180deg,
      #242b33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #242b33 92.19%
    ),
    url(../img/header/header-img.jpg) no-repeat;
  background-size: cover;
  width: 1920px;
  height: 840px;
}


