.video-prev {
  display: flex;
  justify-content: center;
  padding-top: 180px;
  position: relative;

  .video-prev__img {
    background: url(../img/video-prev/title.png) no-repeat;
    background-size: cover;
    width: 720px;
    height: 650px;
  }

  .video-prev__play-btn {
    background: url(../img/video-prev/play-btn.svg) no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 455px;
  }
}
