// fonts
$font-main: "Raleway", sans-serif;
$font-extra: "Playfair Display", serif;
$font-roboto: "Roboto", sans-serif;

// colors
$main-color: #242b33;
$accent-color: #d4c17f;
$white: #fff;
$black: #000;
$footer-color: #2d343c;
$placeholder-color: #bebebe;
